pkgbase = ruby-custom
	pkgdesc = An object-oriented language for quick and easy programming
	pkgver = 3.4.5
	pkgrel = 1
	url = https://www.ruby-lang.org/en/
	arch = x86_64
	license = BSD-2-Clause
	makedepends = doxygen
	makedepends = gdbm
	makedepends = graphviz
	makedepends = jemalloc
	makedepends = libffi
	makedepends = libyaml
	makedepends = openssl
	makedepends = rust
	makedepends = ttf-dejavu
	makedepends = tk
	depends = gdbm
	depends = jemalloc
	depends = openssl
	depends = libffi
	depends = libyaml
	depends = libxcrypt
	depends = gmp
	depends = zlib
	optdepends = tk: for Ruby/TK
	provides = ruby
	provides = ruby-bundler
	conflicts = ruby
	conflicts = ruby-bundler
	options = !emptydirs
	source = https://cache.ruby-lang.org/pub/ruby/3.4/ruby-3.4.5.tar.xz
	source = ruby-openssl-3.3.0.tar.xz::https://github.com/ruby/openssl/archive/refs/tags/v3.3.0.tar.gz
	sha512sums = 1f5d2fd527d15bd81ca8f49767d6426533367c1018a1d275d34721a96410b51204236173224e5198a42b56162c6e7a7b0c060fc032a9fd7f250b44e05c7af560
	sha512sums = 0a1602aea3d0db0d0551745725b82c8470c193e51b821a4b24147dea55299a5f81102b7f128cc6a113037239ad3ffd3d18819242707bce8cc3c168d18bca4b32

pkgname = ruby-custom
